@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ClientContactManagementSystem.web.Models.Entities.LinkContactClientView

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Client</h1>
    </div>
</div>

<div class="container">
    @if (Model.Clients == null || !Model.Clients.Any())
    {
        <td colspan="3">
            <h1>
                No client(s) found
            </h1>
        </td>
    }
    else
    {
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Client Code</th>
                    <th>Number of linked Contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Clients == null || !Model.Clients.Any())
                {
                    <tr>
                        <td colspan="3">No client(s) found</td>
                    </tr>
                }
                else
                {
                    @foreach (var client in Model.Clients)
                    {
                        <tr>
                            <td>@client.ClientName</td>
                            <td>@client.ClientCode</td>
                            <td> @client.NumberOfLinkedContact</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-get-info" data-bs-toggle="modal" data-bs-target="#LinkContact">
                                    Link Contact
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>
<!-- Modal -->
<div class="modal fade" id="LinkContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Linking of Contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    @if (Model.Contacts == null || !Model.Contacts.Any())
                    {
                        <td colspan="3">
                            <h1>
                                No Contact(s) found
                            </h1>
                        </td>
                    }
                    else
                    {
                        <table class="table table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Code</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var contact in Model.Contacts)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="form-check-input" id="linkcontact" />
                                        </td>
                                        <td>@contact.ContactSurname <br /> @contact.ContactName </td>
                                        <td>@contact.ContactEmail</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="LinkingContacttoClient()">Save changes</button>
            </div>

        </div>
    </div>
</div>
